.about h1 {
    margin: 0px 0px;
    color: white;
    padding: 12px 0px;
    text-align: center;
}
.about-me {
    display: flex;
    width: 90%;
    gap: 10%;
    margin: 0 auto;
}

.about-left span {
    width: 25rem;
    height: 25rem;
}

.about-right {
    padding: 1.5rem 7rem;
    margin: 3rem auto;
}
.img-bg img {
    display: block;
    margin: 1rem auto;
}
