#skills-container {
    width: 80%;
    margin: 2rem auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 17rem);
    gap: 1.5rem;
}

.skill-box {
    width: 80%;
    height: 100%;
    background-color: var(--color-blue-300);
    border-radius: 0.5rem;
    margin: 0 auto;
}
.skill-box:hover {
    background-color: var(--color-blue-700);
}

.img-box {
    height: 70%;
}

.skill-box img {
    width: 70%;
    margin: 1rem auto;
    display: block;
    filter: drop-shadow(2px 2px 0 white);
}

.skill-box h2 {
    height: 30%;
    text-align: center;
    color: white;
    margin: 0;
}