body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --color-blue-300: rgb(0, 166, 255);
    --color-blue-700: rgb(13, 102, 235);
    color: white;
    /* width: 100vw; */
}

.header {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 44px;
}

.logo a {
    font-size: 54px;
    font-weight: bolder;
    font-family: serif;
    text-decoration: none;
    color: var(--color-blue-300);
}

.logo a:hover {
    color: var(--color-blue-700);
    filter: drop-shadow(1px 1px 0px white);
}

.nav-ul {
    display: flex;
}

.nav-ul li {
    margin: 4px 8px;
    padding: 4px;
    list-style: none;
}

.nav-ul a {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 6px 4px;
    transition: all ease 0.5s;
}

.nav-ul a:hover {
    color: var(--color-blue-300);
    border-bottom: 2px solid var(--color-blue-300);
}

.home{
    height: 90vh;
    display: flex;
    padding: 8rem;
    box-sizing: border-box;
}

.about, .skills, .projects{
    height: 100vh;
}

.home, .skills, .contact {
    background-color: #333;
}


.about, .projects {
    background-color: #0e0e0e;
}

.hero-image{
    width: 40%;
}

.hero {
    width: 60%;
    padding: 4rem;
    color: white;
}

.hero h1, .about h1 {
    margin: 8px 0px;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.hero h2 {
    margin: 0;
    font-weight: 600;
}

.highlight-color {
    color: var(--color-blue-300);
    font-weight: 800;
}

.btn {
    padding: 0.7rem 1.2rem;
    color: white;
    background-color: var(--color-blue-300);
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: rgb(34, 140, 233);
    box-shadow: 1px 1px 2px var(--color-blue-700);
}

.img-bg {
    display: block;
    margin: 1rem auto;
    width: 25rem;
    height: 25rem;
    background-color: var(--color-blue-300);
    border-radius: 50%;
}

.skills h1, .projects h1 {
    margin: 0%;
    padding: 24px 0px;
    text-align: center;
    font-size: 4rem;
}
